html, body{
    max-width: 100%;
    margin: 0 auto;
    background-color: black;

}

#name{
    position: absolute;
    font-size: 25px;
    left: 30px;
    font-family:'Courier New', Courier, monospace;
    color: aqua;

}

#about{
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 150px;
    font-family:'Courier New', Courier, monospace;
    color:aqua; 

}

#skills{
    position: absolute;
    font-size: 30px;
    top: 690px;
    left:50px;
    font-family:'Courier New', Courier, monospace;
    color: cyan;

}

#skilllist{
    position: absolute;
    top: 720px;
    left:50px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    color: cyan;


}

#projects{
    position: absolute;
    font-size: 30px;
    top: 480px;
    left:530px;
    font-family:'Courier New', Courier, monospace;
    color: cyan;

}

#projectlist{
    position: absolute;
    font-size: 30px;
    top: 530px;
    left:530px;
    font-family:'Courier New', Courier, monospace;
    color: cyan;

}
