
html,body{
    background-color: black;
    max-width: 100%;
    margin: 0 auto;
}

#name{
    position:relative;
    font-size: 25px;
    left: 30px;
    font-family:'Courier New', Courier, monospace;
    color: aqua;

}

#about{
    font-size: 25px;
    position:relative;
    left: 20px;
    top: 150px;
    font-family:'Courier New', Courier, monospace;
    color:aqua; 

}

#skills{
     position:relative;
    font-size: 30px;
    top: 550px;
    left:50px;
    font-family:'Courier New', Courier, monospace;
    color: cyan;

}

#skilllist{
    position:relative;
    font-size: 30px;
    top: 600px;
    left:50px;
    font-family:'Courier New', Courier, monospace;
    color: cyan;


}

#projects{
    position:relative;
    font-size: 30px;
    top: 550px;
    left:700px;
    font-family:'Courier New', Courier, monospace;
    color: cyan;

}

#projectlist{
    position:relative;
    font-size: 30px;
    top: 600px;
    left:700px;
    font-family:'Courier New', Courier, monospace;
    color: cyan;

}
