body{
    background-color: black;
    height: 1000px;

}

#name{
    position: absolute;
    font-size: 25px;
    left: 30px;
    font-family:'Courier New', Courier, monospace;
    color: aqua;

}

#about{
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 150px;
    font-family:'Courier New', Courier, monospace;
    color:aqua; 

}

#skills{
    position: absolute;
    font-size: 30px;
    top: 550px;
    left:50px;
    font-family:'Courier New', Courier, monospace;
    color: cyan;

}

#skilllist{
    position: absolute;
    font-size: 30px;
    top: 600px;
    left:50px;
    font-family:'Courier New', Courier, monospace;
    color: cyan;


}

#projects{
    position: absolute;
    font-size: 30px;
    top: 550px;
    left:700px;
    font-family:'Courier New', Courier, monospace;
    color: cyan;

}

#projectlist{
    position: absolute;
    font-size: 30px;
    top: 600px;
    left:700px;
    font-family:'Courier New', Courier, monospace;
    color: cyan;

}
